#app{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

.leaflet-container {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    top:0 !important;
    left:0 !important;
}
#popover{
    margin: 15px;
}
.mypopover{
    display: block;
    background-color: #ffffff;
    padding: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid #ccc !important;
    margin: 10px !important;

    max-width: none !important;*/
}

.mypopover img{
    cursor: pointer;
}
#buttons{
    position: fixed;
    top: 12px;
    left: 53px;
}
.measureDiv{
    padding: 2px;
    opacity: 0.8;
    font-size: 11px;
    color: #333;
    background-color: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: auto !important;
    margin-left: 10px !important;
    margin-top: 9px !important;
    min-width: 65px;
}

.smallize{
    padding: 0 !important;
}